{% from "yaml-macros.yml" import indented_include %}

title: "RELATE Test Quiz"

description: |
    # RELATE Test Quiz

rules:
    start:
    -
        if_before: end_week 1
        if_has_role: [student, ta, instructor]
        if_has_fewer_sessions_than: 4
        may_start_new_session: True
        may_list_existing_sessions: True

    -
        may_start_new_session: False
        may_list_existing_sessions: True

    access:
    -
        message: "Welcome! This message is brought to you by the access rules."
        permissions: [view, submit_answer, end_session, see_correctness, see_answer_after_submission]

    grade_identifier: la_quiz2_{{ id }}
    grade_aggregation_strategy: use_latest

    grading:
    -
      if_completed_before: {{ created_time }} + {{ duration }}
      credit_percent: 100

    -
      credit_percent: 0

pages:
  -
    type: TextQuestion
    id: half2
    value: {{field2|int}}
    prompt: |
      # A half
      What's a half?
      {{ field2 }}

    answers:
          - type: float
            value: 0.5
            rtol: 1e-4
          - <plain>half
          - <plain>a half
